*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body {
	background: #5f2619;
}

header {
	background-color: #434343;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: center;
}

.menu {
	height: 40px;
	margin:auto;
	display: inline-block;
}

.menu ul li a {
	display: block; 
    text-align: center; 
    height: 100%;
    padding: 0 20px 0 20px;
}

.menu-ule {
	list-style-type: none;
}

.menu-header-dropdown {
    float: left;
    height: 40px;
    line-height: 40px;
}

.menu-header-dropdown a:hover {
	background: #5a5a5a;
	height: 44px;
}


a {
	color: #fff;
	text-decoration: none;
}