*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body {
	background: #5f2619;
}

header {
	background-color: #434343;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: center;
}

ul {
	list-style: none;
}

.menu {
    margin: auto;
    display: inline-block;
}

.menu-ul {
	list-style: none;
	display: flex;
    height: 40px; 	
}

.menu ul li a {
	text-decoration: none;
	padding: 12px 20px;
	display: inline-block;

}

.menu-header-dropdown {
    height: 40px;
    overflow: hidden;
    transition: height .25s ease-out, background 0.2s ease-out;
}

.menu-header-dropdown:hover {
    background: #565656;
 	height: 160px;
 }

.menu-title {
 	color: #fff;
}

.menu-header-dropdown ul li a {
	background: #fff;
    width: calc(100% - 40px);
    color: black;
}

.menu-header-dropdown ul li a:hover {
    background: gray;
}
