header {
	height: 100px;
	background-color:#cecece;
}

.logo {
	background-image: url(http://krasivie-avatarki.ru/images/smayliki/2-smayl-detektiv-s-sigaretoy-vo-rtu.jpg);
	width: 100px;
	height: 100px;
	margin-left: 38px;	
	display: inline-block;
}

.actions {
	height: 50px;
    width: 300px;
    float: right;
    margin: 33px -50px 0 0;

}

.registr {
	width: 118px;
    height: 30px;
   font-size: 15px;
   margin-right: 30px;	
}

.logout {
    width: 78px;
    height: 30px;
    font-size: 15px;
}

.content {
	width: 100%;
	height: 400px;
    background-color: #c7a1ae;
}

.content-img {
	height: 400px;
}

.content-form {
	width: 500px;
	height: 200px;
	display: inline-block;
}

input {
	height: 20px;
	width: 150px;
	margin: 10px 0 0 15px;
	font-size: 15px;
	display: inline-block;
}